
.admin-info .graphical{
    min-height:400px;
}
@media  (max-width: 800px) {
    .admin-info .below {
    display: flex;
    }
    .admin-info{
        width:75%
    }
   }
@media  (min-width: 800px) {
    .admin-info .below{
    display: block;
    }
    .admin-info{
        width:80%
    }
   }