
.admin-request-header {
    display: flex;
    margin: 0;
    align-items: center;
}

.admin-request-header button {
    margin: 0px;
    margin-left: 20px;
    align-items: center;
    border: none;
    background-color: #c3ff61;
    padding: 15px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.admin-request-header button:hover{
    transform: scale(1.05); /* Grow by 10% */
}

.admin-user-request h1 {
    margin-left: 30px;
    color: gray;
}