.pay-tile {
    display: flex;
    flex-direction: column;
    padding:30px;
    margin-top:40px;
    margin-bottom:100%;
    margin-left:20px;
    margin-right:20px;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width:640px;
    background-color:white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pay-tile button {
    min-width: 300px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    background-color: rgb(194, 255, 97);
    color: rgb(128, 128, 128);
    font-weight: bold;
    padding: 15px 40px;
    cursor: pointer;
    transition: transform 0.3s ease;   
}

.pay-tile button:hover{
    transform: scale(1.05); /* Grow by 10% */
}

.back-button {
    margin: 0;
    margin-top: 0 !important;
    padding: 15px 15px !important; 
    min-width: 120px !important;
}
