.dashboard {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/images/GenericBackground.png');
    font-family: 'qsPlainText', sans-serif;
    height: 100vh;
}

.dashboard > ul {
    display:flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    margin: 0;
    padding-left:2%;
    padding-right:2%;
}

.dashboard > ul > li > p {
    font-size:30px;
    color: gray;
    font-family: 'qsPlainText', sans-serif;
}

.padded-b{
    padding-bottom:40px;
}

.dashboard .refresh-prompt{
    text-align: center;
    padding-top: 20px;
}

.dashboard .refresh-prompt h1{
    color: rgba(128, 128, 128, 0.4);
}
