.autorenew-tile {
    padding:30px;
    margin-top:30px;
    margin-bottom: 100%;
    margin-left:20px;
    margin-right:20px;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width:640px;
    background-color:white;
    text-align: center;
}

.autorenew-tile button {
    margin: 0;
    font-size: 16px;
    font-family: 'qsPlainText', sans-serif;
    font-weight: bold;
    padding: 15px 35px;
    background-color: #C3FF61;
    color: rgb(128, 128, 128);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.autorenew-tile button:hover{
    transform: scale(1.05); /* Grow by 10% */
}