.admin_nav{
    margin:0;
    padding:0;
}

.admin_nav > ul{
    display:flex;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;

}
.admin_nav > ul > li{

    padding-top:10px;
    padding-bottom:10px;
}

@media  (max-width: 800px) {
    .admin_nav > ul {
        display: block;
    }
    .admin_nav > ul > .underline{
        position: absolute;
        height:2px;
        top:10px;
        left:0px;
        padding:0px;
        margin:0px;
        background-color:rgb(40, 143, 0);
        width:100px;
        transition: all .5s ease 0s;
    }
    .admin_nav > ul {
        padding-right:20px;
    }
    
    .admin_nav > ul > li:nth-child(1).active~.underline{
        top:10px;
        width:33px;
    }
    .admin_nav > ul > li:nth-child(2).active~.underline{
        top:50px;
        width:24px;
    }
    .admin_nav > ul > li:nth-child(3).active~.underline{
        top:90px;
        width:40px;
    }
    .admin_nav > ul > li:nth-child(4).active~.underline{
        top:130px;
        width:27px;
    }
    .admin_nav > ul > li:nth-child(5).active~.underline{
        top:192px;
        width:47px;
    }
    .admin_nav > ul > li:nth-child(6).active~.underline{
        top:255px;
        width:22px;
    }
    .admin_nav > ul > li:nth-child(7).active~.underline{
        top:295px;
        width:36px;
    }
    .admin_nav > ul > li:nth-child(8).active~.underline{
        top:335px;
        width:38px;
    }
    .admin_nav > ul > li:nth-child(9).active~.underline{
        top:375px;
        width:65px;
    }
    
    .admin_nav > ul > li:nth-child(1):hover~.underline{
        top:10px;
        width:33px;
    }
    .admin_nav > ul > li:nth-child(2):hover~.underline{
        top:50px;
        width:24px;
    }
    .admin_nav > ul > li:nth-child(3):hover~.underline{
        top:90px;
        width:40px;
    }
    .admin_nav > ul > li:nth-child(4):hover~.underline{
        top:130px;
        width:27px;
    }
    .admin_nav > ul > li:nth-child(5):hover~.underline{
        top:192px;
        width:47px;
    }
    .admin_nav > ul > li:nth-child(6):hover~.underline{
        top:255px;
        width:22px;
    }
    .admin_nav > ul > li:nth-child(7):hover~.underline{
        top:295px;
        width:36px;
    }
    .admin_nav > ul > li:nth-child(8):hover~.underline{
        top:335px;
        width:38px;
    }
    .admin_nav > ul > li:nth-child(9):hover~.underline{
        top:375px;
        width:65px;
    }
   }
@media  (min-width: 800px) {
    .admin_nav > ul {
    display: flex;
    }
    .admin_nav > ul > .underline{
        position: absolute;
        height:5%;
        top:5px;
        left:0px;
        padding:0px;
        margin:0px;
        background-color:rgb(40, 143, 0);
        width:100px;
        transition: all .5s ease 0s;
    }
    
    .admin_nav > ul > li:nth-child(1){
        width:80px 
    }
    .admin_nav > ul > li:nth-child(2){
        width:60px;
    }
    .admin_nav > ul > li:nth-child(3){
        width:80px; 
    }
    .admin_nav > ul > li:nth-child(4){
        width:100px;
    }
    .admin_nav > ul > li:nth-child(5){
        width:80px;
    }
    .admin_nav > ul > li:nth-child(6){
        width:50px;
    }
    .admin_nav > ul > li:nth-child(7){
        width:60px;
    }
    .admin_nav > ul > li:nth-child(8){
        width:60px;
    }
    .admin_nav > ul > li:nth-child(9){
        width:65px;
    }
    
    .admin_nav > ul > li:nth-child(1).active~.underline{
        left:0px;
        width:33px;
    }
    .admin_nav > ul > li:nth-child(2).active~.underline{
        left:80px;
        width:24px;
    }
    .admin_nav > ul > li:nth-child(3).active~.underline{
        left:140px;
        width:40px;
    }
    .admin_nav > ul > li:nth-child(4).active~.underline{
        left:220px;
        width:27px;
    }
    .admin_nav > ul > li:nth-child(5).active~.underline{
        left:320px;
        width:47px;
    }
    .admin_nav > ul > li:nth-child(6).active~.underline{
        left:400px;
        width:22px;
    }
    .admin_nav > ul > li:nth-child(7).active~.underline{
        left:450px;
        width:36px;
    }
    .admin_nav > ul > li:nth-child(8).active~.underline{
        left:510px;
        width:38px;
    }
    .admin_nav > ul > li:nth-child(9).active~.underline{
        left:570px;
        width:65px;
    }
    
    .admin_nav > ul > li:nth-child(1):hover~.underline{
        left:0px;
        width:33px;
    }
    .admin_nav > ul > li:nth-child(2):hover~.underline{
        left:80px;
        width:24px;
    }
    .admin_nav > ul > li:nth-child(3):hover~.underline{
        left:140px;
        width:40px;
    }
    .admin_nav > ul > li:nth-child(4):hover~.underline{
        left:220px;
        width:27px;
    }
    .admin_nav > ul > li:nth-child(5):hover~.underline{
        left:320px;
        width:47px;
    }
    .admin_nav > ul > li:nth-child(6):hover~.underline{
        left:400px;
        width:22px;
    }
    .admin_nav > ul > li:nth-child(7):hover~.underline{
        left:450px;
        width:36px;
    }
    .admin_nav > ul > li:nth-child(8):hover~.underline{
        left:510px;
        width:38px;
    }
    .admin_nav > ul > li:nth-child(9):hover~.underline{
        left:570px;
        width:65px;
    }
   }

